[core]
	preloadindex = true
	fscache = true
	trustctime = false
	editor = vim
	fileMode = false
	autocrlf = input
[gc]
	auto = 256
[push]
	default = current
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[alias]
	cp = cherry-pick
	co = checkout
	cl = clone
	ci = commit
	st = status -sb
	br = branch
	unstage = reset HEAD --
	dc = diff --cached
	pretty-log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = checkout @{-1}
	diff-commit = "!f() { git diff \"$1^\" \"$1\"; }; f"
	addnw = "!f() { git diff --ignore-space-change --ignore-blank-lines \"$1\" | git apply --cached --ignore-whitespace; }; f"
[user]
[diff]
	guitool = kdiff3
[user]
	name = Ethan Wortzman
	email = ethan.wortzman@gmail.com
[http]
	sslVerify = false
